h1{
    font-size: 35px;
    font-family: "Sigmar One";
    color: rgb(3, 118, 206);
}

h2{
    font-size: 30px;
    color: rgb(125, 3, 206);
}

h3{
    font-size: 25px;
    color: rgb(12, 226, 144);
}
