body{
    position: relative;
    left: 20%;
    margin-top: 15px;
}
article{
    position: relative;
    left: 5%;
}
img{
    position: relative;
    left: 5%;
    width: 300px;
    height: 500px;
}
header ,footer  {
    position: relative;
    left:3%;

}